<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.billkalin.performance">

    <application>
        <provider
            android:name=".PerformanceProvider"
            android:authorities="com.billkalin.provider"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>